<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softgames.iotec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/THEME_SPLASH_SCREEN">
        <activity
            android:name=".presentation.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.authentication.login.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.authentication.register.view.RegisterActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.menu.MenuActivity"
            android:exported="true" />

    </application>

</manifest>